---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Download">
  <div class="c-hero flex flex-col gap-2">
    <h1 class="text-6xl">What platform are you using?</h1>
    <ul class="bullet">
      <li>
        <a
          href="/gozen-website/download/windows/"
          class="text-accent-200 hover:text-accent-100 text-xl">Windows</a
        >
      </li>
      <li>
        <a
          href="/gozen-website/download/macos/"
          class="text-accent-200 hover:text-accent-100 text-xl">MacOS</a
        >
      </li>
      <li>
        <a
          href="/gozen-website/download/linux/"
          class="text-accent-200 hover:text-accent-100 text-xl">Linux</a
        >
      </li>
    </ul>
  </div>
</Layout>
