---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Download">
  <div class="c-hero flex flex-col gap-2">
    <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl">What platform are you using?</h1>
    <ul class="bullet">
      <li>
        <a href="/gozen-website/download/windows/" class="text-xl text-accent-200 hover:text-accent-100">Windows</a>
      </li>
      <li>
        <a href="/gozen-website/download/macos/" class="text-xl text-accent-200 hover:text-accent-100">MacOS</a>
      </li>
      <li>
        <a href="/gozen-website/download/linux/" class="text-xl text-accent-200 hover:text-accent-100">Linux</a>
      </li>
    </ul>
  </div>
</Layout>
