---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="c-hero flex">
    <div class="flex flex-grow-[1] flex-col gap-2">
      <h1 class="font-[TitleFont] text-8xl text-text">GoZen</h1>
      <h2 class="text-2xl text-text">The open-source modular video editor.</h2>
      <div class="flex gap-2">
        <a href="/gozen-website/download/" class="c-button">Download</a>
        <a
          href="https://github.com/voylin/GoZen"
          target="_blank"
          class="c-button border-accent-400 border-2 bg-transparent"
          >Source code</a
        >
      </div>
    </div>
    <div class="flex flex-col justify-center">
      <img src="/gozen-website/logo.svg" alt="GoZen Logo" class="h-40" />
    </div>
  </div>
</Layout>
