---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="c-hero flex">
    <div class="flex flex-grow-[1] flex-col gap-2 text-center sm:text-left">
      <img src="/gozen-website/logo.svg" alt="GoZen Logo" class="block h-40 sm:hidden" />
      <h1 class="font-[TitleFont] text-5xl text-text sm:text-6xl md:text-7xl lg:text-8xl">GoZen</h1>
      <h2 class="text-md text-text sm:text-lg md:text-xl lg:text-2xl">The open-source modular video editor.</h2>
      <div class="flex justify-center gap-2 text-sm sm:justify-normal sm:text-base">
        <a href="/gozen-website/download/" class="c-button">Download</a>
        <a href="https://github.com/voylin/GoZen" target="_blank" class="c-button border-2 border-accent-400 bg-transparent">Source code</a>
      </div>
    </div>
    <img src="/gozen-website/logo.svg" alt="GoZen Logo" class="hidden h-40 sm:block" />
  </div>
</Layout>
