<nav class="sticky flex gap-5 bg-secondary p-4">
  <a href="/gozen-website/">Home</a>
  <a href="/gozen-website/download/">Download</a>
  <!--<a href="/gozen-website/blog/">Blog</a>-->
  <a href="https://github.com/voylin/GoZen" target="_blank">GitHub</a>
</nav>
