---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/gozen-website/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-background text-text">
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
    .c-button {
      @apply rounded-md border-2 border-accent-light bg-accent p-3 text-text hover:bg-accent-light;
    }
  }

  @font-face {
    font-family: "TitleFont";
    src: url("/URWGothic-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
</style>
