---
import NavBar from "../components/NavBar.astro";
import { SEO } from "astro-seo";

interface Props {
  title?: string;
  description?: string;
}

let { title, description } = Astro.props;

description ??= "GoZen, the modular video editor.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/gozen-website/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      titleDefault="GoZen"
      titleTemplate="%s - GoZen"
      {title}
      {description}
    />
    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer components {
        .c-button {
          @apply rounded-md border-2 border-accent-400 bg-accent-500 p-3 text-text hover:bg-accent-400;
        }

        .c-hero {
          @apply bg-primary p-20;
        }
      }

      @font-face {
        font-family: "TitleFont";
        src: url("/gozen-website/URWGothic-Book.woff") format("woff");
        font-weight: normal;
        font-style: normal;
      }
    </style>
  </head>
  <body class="bg-background text-text">
    <NavBar />
    <main>
      <slot />
    </main>
    <a
      href="https://adenpun.net/"
      target="_blank"
      class="text-white hover:text-gray-100">&copy; 2023 Aden Pun</a
    >
  </body>
</html>
