---
import NavBar from "../components/NavBar.astro";

interface Props {
  title?: string;
}

let { title } = Astro.props;

if (title) title += " - ";
else title = "";
title += "GoZen";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/gozen-website/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-background text-text">
    <NavBar />
    <main>
      <slot />
    </main>
    <a
      href="https://adenpun.net/"
      target="_blank"
      class="text-white hover:text-gray-100">&copy; 2023 Aden Pun</a
    >
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
    .c-button {
      @apply bg-accent-500 border-accent-400 hover:bg-accent-400 rounded-md border-2 p-3 text-text;
    }

    .c-hero {
      @apply bg-primary p-20;
    }
  }

  @font-face {
    font-family: "TitleFont";
    src: url("/gozen-website/URWGothic-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
</style>
